@media only screen and (min-width: 600px) {
header{
    font-family: fantasy;
    color: red;
    font-size: 100px;
    text-align: center;
}
body{
    background: rgb(10,73,251);
    background: linear-gradient(90deg, rgba(10,73,251,1) 22%, rgba(227,230,231,1) 97%);
}
.avis-tableau{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 2 / 1 / 3 / 2; }
        .div4 { grid-area: 2 / 2 / 3 / 3; }
        .div5 { grid-area: 3 / 1 / 4 / 2; }
        .div6 { grid-area: 3 / 2 / 4 / 3; }
        .div7 { grid-area: 4 / 1 / 5 / 2; }
        .div8 { grid-area: 4 / 2 / 5 / 3; }

        .avis-user{
            height: 75px;
            width: 100px;
        }
        .texte-avis{
            display: block;
            height: 200px;
            width: 300px;
        }
        .accueil{
            top: 0;
            right: 0;
            position: absolute;
        }
        .logo{
            top: 0;
            position: absolute;
        }
        .avis-tableau{
            margin-top: 50px;
        }
        footer{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                }
                
                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 1 / 2 / 2 / 3; }
                .div3 { grid-area: 1 / 3 / 2 / 4; }
        .mentions{
            display: block;
            text-align: center;
            height: 150px;
            width: 150px;
        }
        .div2{
            display: flex;
            justify-content: space-between;

        }

        a{
            text-decoration: none;
        }
    }
    .parallax2 {
        background-image: url("../imagess/theme-hospital.jpg");
      }
      .section-background {
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 50vh;
        width: 100%;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }
