header{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 8, 8);
    font-size: 20px;
    text-align: center;
    margin-top: -10PX;
}
body{
    background: rgb(225, 200, 223);   
}
.accueil{
    top: 0;
    right: 0;
    position: absolute;
}
.logo{
    top: 0;
    position: absolute;
}
.form{
width:500px;
padding: 10PX 20PX;
background: lavender;
color: midnightblue; 
}
form p {
    margin: 1em 0;
    }
    form p.double {
        overflow:hidden;
        width: 100%;
    }  
    
    form p.double label {
        float:left;
        width: 150px;
        text-align:left;
        font-weight: bold;
        cursor: pointer;
        }
 
    form p.double input,
    form p.double textarea {
        width: 250px;
        margin-left: 12px;
        border: solid 1px midnightblue;
        padding: 2px 4px;
        }
    form p.double textarea {
            padding: 2px 0 0 4px;
            width: 320px;
            height: 6em;
            }
    form p.simple {
            margin-left: 160px;
            }